.error-notification {
    color: red;
    font-weight: bold;
    background-color: #ff000030;
    padding: 7px;
    border-radius: 8px;
    margin: 10px 0 10px 0;
}

.success-notification {
    color: green;
    font-weight: bold;
    background-color: #00800030;
    padding: 7px;
    border-radius: 8px;
    margin: 10px 0 10px 0;
}

.basic-link {
    text-decoration: none;
}

.basic-link:hover {
    text-decoration: underline;
}

.basic-input {
    border: none;
    outline: none;
    border-bottom: 1px solid #05212a;
    margin-bottom: 10px;
    margin-right: 25px;
    border-radius: 0;
}

.basic-button {
    border: none;
    height: 35px;
    background-color: #05212a;
    color: white;
    border-radius: 8px;
    padding: 0 20px 0 20px;

    &:hover {
        cursor: pointer;
    }
}

.text-description {
    font-style: italic;
}

.tooltip-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  display: block;
  max-width: 300px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.8rem;
  white-space: normal;
  word-wrap: break-word;
}

.tooltip-icon:hover .tooltip-text,
.tooltip-icon:focus .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-icon.left-edge .tooltip-text {
  left: 0;
  transform: translateX(0);
}